@import "tailwindcss";

:root {
  --theme: #00597c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-main-decor {
  animation: homepage-main-decor 4s ease  infinite;
  transition: 4s ease;
}

@keyframes homepage-main-decor {
  0% {

    background: linear-gradient(to right, #01f7ff, #ae00ff);
  }
  100% {
    background: linear-gradient(to right, #ff6b6b, #4ecdc4);
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  
  &::-webkit-scrollbar {
    display: none; /* WebKit browsers */
  }
}